@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --background : #211A1D;
    --text-color : #FFF689;
    --background-hover: #141313;
    --inputfield : #4d3f45;

    --winningblock : #755858;
}
body{
    background-color: var(--background);
    color: var(--text-color);
    font-family: 'Finger Paint', sans-serif;
    display: grid;
    
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin: 8vh 5vh;
}
.change{
    display: flex;
    align-items: center;
    gap: 100px;
}
#reset{
    width: 100px;
    padding: 35px 20px;
    font-size: 1.2rem;
    border-radius: 100%;
    margin-right: 8vh;
    text-align: c;
}
#continue{
    width: 150px;
    align-self: center;
}    
.reset:hover{
    background-color: var(--background-hover);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.header{
    margin-top: 10px;
    text-align: center;
    font-size: 2.3rem;
    /* border-bottom: 1px solid var(--text-color); */
}
.header h6{
    font-size: 1.2rem;
    margin-left: 20rem;
}
.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.game{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 10vh;
    width: 540px;
    height: 540px;
}
.cell{
    width: 180px; 
    border: 1px solid var(--text-color);
    height: 180px;
    font-size: 8em;
    text-align: center;
}
.cell:hover{
    background-color: var(--background-hover)
}
.first , .second , .third{
    border-top: none;
}
.first , .fourth , .seventh{
    border-left: none;
}
.third , .sixth , .ninth{
    border-right: none;
}
.seventh , .eigth , .ninth{
    border-bottom: none;
}

.player1 , .player2{
    margin-top: 5vh;
    /* border: 1px solid var(--text-color); */
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    font-size: 6em;
    margin-top: 10px;
    align-self: top;
    justify-self: top;
}
.symbol{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 15em;
    text-align: center;
    border: 1px solid var(--text-color);
    padding: 0px 90px;
    border-radius: 100%;
    margin-top: 5vh;
}
.score1 , .score2{
    margin-top: 5vh;
    font-size: 3rem;
    text-align: center;
}

.modal{
    display: flex;
    flex-direction: column;
    width:  max-content;
    height: 640px;
    background-color: var(--background-hover);
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 40px;
    padding-top: 14vh;
    border-radius: 20px;
    color: var(--text-color);
    border: none;

    justify-self: center;
    align-self: center;
    margin-top: 20vh;
}
.modal::backdrop{
    background: linear-gradient(135deg,var(--text-color),var(--inputfield));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid var(--text-color);
    background-color: var(--inputfield);
    color: var(--text-color);
    text-align: center;
    width: 300px;
    border-radius: 7px;
}
button{
    margin-top: 3vh;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: var(--text-color);
    color: var(--background-hover);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
}
button:hover{
    background-color: var(--background-hover);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
